<div *ngIf="shouldSayHello" class="hello-test">Hello 1</div>


<ng-template [ngIf]="shouldSayHello">
  <div class="htello-test1"> hello2</div>
</ng-template>


<!-- ng-container: là 1 element ko có bất kì 1 style css nào -> ko render ra những thẻ thừa -->
<ng-container>123456</ng-container>


<ng-container *ngTemplateOutlet="templateOutlet"></ng-container>
<app-ngcontent>
  <footer>footern 123</footer>
  <div class="footer2">footer 2</div>
  <div class="footer1">footer 1</div>
  <div class="footer2">footer 3</div>
</app-ngcontent>

<ng-container *ngTemplateOutlet="templateOutlet"></ng-container>



<!-- ngTemplateOutlet -->
<!-- Dùng đi dugnf lại nhiều lần trên 1 page -->

<ng-template #templateOutlet>
  templateOutlet
</ng-template>